In [74]:
from bokeh.io import show, output_file
from bokeh.plotting import figure
from bokeh.palettes import Spectral5
from bokeh.transform import factor_cmap

import pandas as pd
pd.set_option('display.max_colwidth', -1)

In [75]:
df_full = pd.read_csv("reddit_user_list.csv", names=["Username", "SimilarityScore"])


#Threshold for similarity scores being displayed
threshold = 0.85
df = df_full[df_full['SimilarityScore'] > threshold]  


output_file("hist.html")

In [76]:
df.head()

          Username  SimilarityScore
5  [deleted]        1.000000
6  cloudsurfer      0.957815
7  ddipaolo         0.956402
8  subschool        0.950406
9  RenaissanceSoul  0.936201

In [77]:
#df.SimilarityScore = df.SimilarityScore.astype(str)

group = df.drop_duplicates(subset = ['Username'])#.groupby(['Site', 'Username'])
group.head()

          Username  SimilarityScore
5  [deleted]        1.000000
6  cloudsurfer      0.957815
7  ddipaolo         0.956402
8  subschool        0.950406
9  RenaissanceSoul  0.936201

In [78]:
from bokeh.sampledata.autompg import autompg_clean as dfmpg
#mpggroup = dfmpg.groupby(['cyl', 'mfr'])

#mpggroup.head()

In [79]:
#index_cmap = factor_cmap('Site_Username', palette=Spectral5, factors=sorted(df.Site.unique()), end=1)



p = figure(plot_height = 600, plot_width = 600,
        title = 'Histogram of Similarity Scores',
        x_range = group.Username,
          )

p.vbar(x='Username', top='SimilarityScore', width=1, source=group, line_color="white" )#, fill_color=index_cmap)#fill_color=index_cmap,

#p.vbar(x='Username', top='SimilarityScore', width=1, source=group, line_color="white"  )#fill_color=index_cmap,

GlyphRenderer(id='1364', ...)

In [80]:
p.y_range.start = 0
p.x_range.range_padding = 0.05
p.xgrid.grid_line_color = None
p.xaxis.axis_label = "Username"
p.xaxis.major_label_orientation = 1.2
p.outline_line_color = None

In [81]:
show(p)

In [82]:
df_table = pd.read_csv("reddit_user_list.csv").dropna()

df_table.to_html('table.html')

In [83]:
linkdf = pd.read_table("msg_list_1.txt", names=["Link"],delimiter="\n")

linkdf.head()

                                                         Link
0  https://www.reddit.com/message/compose/?to=cloudsurfer
1  https://www.reddit.com/message/compose/?to=ddipaolo
2  https://www.reddit.com/message/compose/?to=subschool
3  https://www.reddit.com/message/compose/?to=RenaissanceSoul
4  https://www.reddit.com/message/compose/?to=hmchuckles

In [84]:
newdf = linkdf["Link"].str.split("=", n = 5, expand = True)
newdf.columns = ['Crap', 'Username']
linkdf['Username'] = newdf['Username']
linkdf.head()

                                                         Link         Username
0  https://www.reddit.com/message/compose/?to=cloudsurfer      cloudsurfer
1  https://www.reddit.com/message/compose/?to=ddipaolo         ddipaolo
2  https://www.reddit.com/message/compose/?to=subschool        subschool
3  https://www.reddit.com/message/compose/?to=RenaissanceSoul  RenaissanceSoul
4  https://www.reddit.com/message/compose/?to=hmchuckles       hmchuckles

In [85]:
linkdf.set_index('Username').join(df.set_index("Username")).sort_values(by=['SimilarityScore'], ascending=False).to_html('linktable.html')

In [86]:
filenames = ['header1_reddit.html','hist.html','header2_reddit.html','linktable.html']
with open('./output_reddit.html', 'w') as outfile:
    for fname in filenames:
        with open(fname) as infile:
            for line in infile:
                outfile.write(line)